@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
.bg-color {
  background-color: #000000
}

.fg-color {
  background-color: #282828
}

.txt-color {
  color: #FFFFFF
}

@font-face {
  font-family: "kiwisoda";
  src: url("/fonts/KiwiSoda.woff");
}

body {
  color: white;
  margin: 0;
  font-family: "kiwisoda";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rainbow-svg {
  animation: rainbow 3s infinite;
  animation-delay: var(--delay, 0s);
}

@keyframes rainbow {
  0% {
    stroke: red;
    color: red;
    border-color: red;
  }

  14% {
    stroke: orange;
    color: orange;
    border-color: range;
  }

  29% {
    stroke: yellow;
    color: yellow;
    border-color: yellow;
  }

  43% {
    stroke: green;
    color: green;
    border-color: green;
  }

  57% {
    stroke: blue;
    color: blue;
    border-color: blue;
  }

  71% {
    stroke: indigo;
    color: indigo;
    border-color: indigo;
  }

  86% {
    stroke: violet;
    color: violet;
    border-color: violet;
  }

  100% {
    stroke: red;
    color: red;
    border-color: red;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee url(http://api.thumbr.it/whitenoise-300x300.png?background=eeeeeeff&noise=000000&density=15&opacity=10) center;
}

/* for circular arrangment */
.img-circle {
  /* image size */
  --d: 4em;
  /* circle radius */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan));
  /* img-circle size */
  --s: calc(2*var(--r) + var(--d));
  position: relative;
  width: var(--s);
  height: var(--s);
}

.img-circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform:
    rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)))
}

img {
  max-width: 100%
}

/* for div brackets */
/* https://stackoverflow.com/questions/48149511/the-whole-div-between-brackets */
.bracket-top {
  position: relative;
  display: block;
}

.bracket-top:after {
  content: 'foo';
  height: 10px;
  width: 90%;
  border: 2px solid black;
  position: absolute;
  top: 1em;
}


.bracket-left {
  position: relative;
  text-align: center;
}

.bracket-left:before {
  content: '';
  height: 90%;
  width: 10px;
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: -10px;
  border-right: 0;
}

/* bouncy selections */
.bounce-button {
  position: relative;
}

.bounce-text {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.bounce-button:hover .bounce-text {
  animation: textBounce 0.5s ease infinite alternate;
}

@keyframes textBounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}